.banner {
    background-color: #CB3A1A;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 320px;
}

.b-button {
    text-decoration: none;
    width: 245px;
    height: 50px;
    border: #FFFFFF solid 1px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.b-button:hover {
    color: #771600;
    border-color: #851800;
    border-width: 2px;
}

.b-button:active {
    color: #460d00;
    border-color: #851800;
}


.b-img-sign {
    height: 13px;
    margin-left: 16px;
}

.b-text {
    color: #FFFFFF;
    font-size: 38px;
    font-family: "Jost", sans-serif;
    font-weight: bold;
}
