.footer {
    background-color: #111111;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}

.f-info {
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Jost", sans-serif;
}

.f-left-logo {
    display: flex;
    align-items: center;
}

.f-img-logo {
    height: 45px;
    padding-bottom: 5px;
}

.f-name {
    color: #FFFFFF;
    font-size: 30px;
    font-family: "Jost", sans-serif;
    margin-left: 25px;
    letter-spacing: 12px;
}
