.footer {
    background-color: #111111;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-separator {
    color: #FFFFFF;
    width: 400px;
    height: 5px;
    margin-top: 15px;
}

.f-info {
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Jost", sans-serif;
}

.f-logo {
    display: flex;
    align-items: center;
}

.f-img-logo {
    height: 45px;
    padding-bottom: 5px;
}

.f-name {
    color: #FFFFFF;
    font-size: 30px;
    font-family: "Jost", sans-serif;
    margin-left: 25px;
    letter-spacing: 12px;
}

.f-icons {
    margin-top: 70px;
}

.f-icon {
    width: 75px;
    height: 75px;
}

.f-icon:nth-child(n+2) {
    margin-left: 25px;
}