.header-top {
    background-color: #CB3A1A;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    
}

.h-info {
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Jost", sans-serif;
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.h-separator {
    margin: 0 20px;
}

.header-bottom {
    background-color: #111111;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-right {
    margin-right: 120px;
}

.h-left-logo {
    display: flex;
    align-items: center;
    margin-left: 120px;
}

.h-img-logo {
    height: 45px;
    padding-bottom: 5px;
}

.h-name {
    color: #FFFFFF;
    font-size: 30px;
    font-family: "Jost", sans-serif;
    margin-left: 25px;
    letter-spacing: 12px;
}

.h-nav {
    margin-top: 17px;
}

.h-nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.h-nav-item {
    text-decoration: none;
    color: #FFFFFF;
}

.h-nav-item:hover {
    color: #CB3A1A;
}

.h-nav-item:active {
    color: #771600;
}

.h-nav-list li {
    font-size: 18px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: bold;
}

.h-nav-list li:nth-child(n + 2) {
    margin-left: 30px;
}

.h-button {
    text-decoration: none;
    width: 245px;
    height: 50px;
    border: #CB3A1A solid 1px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-button:hover {
    color: #CB3A1A;
    border-color: #961b00;
}

.h-button:active {
    color: #771600;
    border-color: #961b00;
}

.h-img-sign {
    height: 13px;
    margin-left: 16px;
}
